# Build output directories
Debug/
Release/

# Eclipse/STM32CubeIDE project files
.settings/
*.launch

# Compiled Object files
*.o
*.obj
*.elf
*.bin
*.hex
*.map

# Dependency files
*.d
*.su

# Cyclomatic complexity files
*.cyclo

# Assembly listing files
*.list

# Precompiled Headers
*.gch
*.pch

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug information files
*.dwo

# Linker files
*.ilk
